* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid;
}

.search {
    text-align: center;
    margin-bottom: 10px;
}

.block {
    width: 600px;
    height: 100px;
    border: 1px dashed;
    margin-bottom: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.block:last-child {
    margin-bottom: 0;
}

.city_one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    font-size: 20px;
    width: 200px;
}

.temp_one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
}

.temp_two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
}

.city_two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0px;
    font-size: 20px;
    width: 200px;
}

.open_weather {
    margin-left: 15px;
    font-size: 30px;
    width: 200px;
}